@font-face {
    font-weight: 400;
    font-family: "SFProText";
    src: url("fonts/SFProText-Regular.ttf");
}
@font-face {
    font-weight: 700;
    font-family: "SFProText-Bold";
    src: url("fonts/SFProText-Bold.ttf");
}

body {
    font-family: "SFProText";
    background-color: #F3F6F9;
    font-size: 26px;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

p, h1, h2 {
    margin: 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 48px;
}

ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1400px;
    margin: auto;
}

.row {
    display: flex;

}

.col-5 {
    width: 50%;
}

.relative {
    position: relative;
}

/* header  */

.header {
    display: block;
    background-image: url(imgs/bg1.png);
    background-color: #586C75;
    background-position: center;
}

.header-flex {
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-size: contain;
    align-items: center;
}
.header-flex h1 {
    text-align: center;
    font-size: 40px;
}

.header .right-section {
    padding: 43px 0 40px 0;
}

/* section-how-call */

.section-how-call {
    margin-top: 100px;
    margin-bottom: 60px;
}
.section-how-call p {
    width: 77%;
}
.section-how-call img {
    position: absolute;
    width: 100%;
    height: auto;
    top: -14px;
}

/* section-need-to-know */

.section-need-to-know {
    background-color: #FFF5CC;
}

.section-need-to-know .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-need-to-know .row {
    text-align: center;
}
.section-need-to-know p {
    text-align: left;
    padding: 32px 10px;
}

.circle {
    position: relative;
    width: 290px;
    height: 290px;
    border-radius: 100%;
    background-color: #0297D4;
    filter: blur(4px);
}

.circle img {
    position: absolute;
    z-index: 20px;
}

/* section-aspects */

.section-aspects {
    margin-top: 60px;
    margin-bottom: 100px;
}
.section-aspects p {
    margin-bottom: 40px;
}

.aspects {
    margin-top: 86px;
    justify-content: space-around;
}

.aspect {
    position: relative;
    background-color: #0297D4;
    color: #fff;
    width: 332px;
    height: 271px;
    text-align: center;
    border-radius: 20px;
}

.aspect-card {
    position: absolute;
    padding: 28px;
    /* width: 90%;
    right: 50%;
    transform: translate(50%); */
}

.aspect h3 {
    font-size: 20px;
}
.aspect p {
    font-size: 18px; 
}

.aspect-img {
    position: absolute;
    width: 149px;
    height: 149px;
    background-color: #0297D4;
    top: -70px;
    left:50%;
    transform:translate(-50%);
    border-radius: 100%;
}

.aspect-img img {
    padding: 16px;
}

/* section-privilege */
.section-privilege {
    position: relative;
    padding-top: 120px;
    padding-bottom: 530px;
    background-color: #fff;
}
.section-privilege p {
    margin-bottom: 40px;
}
.section-privilege img {
    width: 100%;
    padding-top: 110px;
    padding-left: 70px;
}

.info-cards {
    position: absolute;
    bottom: -200px;
}

.info-card {
    background-color: #FFF5CC;
    padding: 48px;
    width: 588px;
    height: auto;
    border-radius: 20px;
}

.info-card:first-child {
    margin-right: 32px;
}

/* section-evacuators */

.section-evacuators {
    margin-top: 300px;
}
.slider {
    position: relative;
    margin-top: 32px;
}
.slider img {
    padding: 20px 0;
}
.slider-container {
    overflow: hidden;
    padding: 10px;
}
.slider-list {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    left: 0px;
    transition: transform 0.5s ease;
}

.slider-list li {
    display: block;
    padding: 0 38px 20px;
    background-color: #fff;
    border-radius: 20px;    
    max-width: 604px;
    height: 682px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);

}
.hidden-span {
    display: none;
}

.slider-list p {
    font-size: 20px;
}

.slider-control button {
    width: 52px;
    height: 52px;
    border: solid 1px #0297D4;
    color: #0297D4;
    background-color: transparent;
    border-radius: 6px;
    font-size: 46px;
    cursor: pointer;
}
.slider-control img {
    padding: 12px;
    width: 12px;
    height: 24px;
}
.prev-btn img {
    transform: scale(-1);
}
.slider-control .prev-btn {
    position: absolute;
    top: 43%;
    left: -92px;
}
.slider-control .next-btn {
    position: absolute;
    top: 43%;
    right: -92px;
}
.status {
    display: flex;
    justify-content: center;
}
.status span {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #B3C8D1;
    margin-right: 8px;
}
/* .status span:first-child {
    margin-right: 8px;
} */

.status span:active {
    background-color: #0297D4;
}

/* section-questions */
.section-questions {
    margin-top: 100px;
    background-color: #FFF5CC;
}
.section-questions .bg-img {
    background-image: url(imgs/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-questions .bg-img2 {
    background-image: url(imgs/mechanic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.list-container {
    width: 610px;
    padding: 80px 56px;
}
.list-container.left {
    margin-left: auto;
}
.list-container.right{
    margin-right: auto;
}

/* section-tabs */
.section-tabs {
    position: relative;
    margin-top: 106px;
    margin-bottom: 100px;

}
.section-tabs .list-done {
    list-style: none; 
    padding-left: 0;
}
.list-done li {
    position: relative;
    margin-bottom: 17px;
    padding-left: 48px;
}
.list-done li::before {
    content: url(imgs/Done.svg); 
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 32px; 
    height: 32px; 
}
.custom-list {
    list-style-type: none;
    padding: 0;
}
.custom-list li {
    counter-increment: list-counter; 
    margin-bottom: 24px; 
    position: relative; 
    padding-left: 50px;
    font-size: 26px;
}

.custom-list li::before {
    content: counter(list-counter); 
    position: absolute;
    left: 0; 
    top: 40%; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: solid 4px #0297D4;
    color: #0297D4; 
    width: 32px; 
    height: 32px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 22px;
    font-weight: bold;
}

.tab-titles {
    display: flex;
}

.tab-title {
    width: 275px;
    padding: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, border-bottom-color 0.3s;
}

.tab-title.active {
    background-color: #fff;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 8px -8px rgba(0,0,0,0.2);
}

.tab-content {
    padding: 60px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    
}
.tab-content p {
    margin-bottom: 30px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* footer  */

footer {
    padding: 40px;
    background-color: #586C75;
}
footer img {
    margin-right: 60px;
}
footer ul {
    display: flex;
    color: #FFF;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;    
}

footer li {
    font-size: 16px;
    margin-right: 60px;
}
footer li:last-child {
    margin-right: 0;
}

/****************************************** Contacts ******************************************/

/* header  */

.top-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 0;
    align-items: center;
}

.header-btn {
    height: 56px;
    width: 336px;
    border-radius: 50px;
    background-color: #0297D4;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin-left: 57px;
    font-size: 20px;
}

.right-section {
    display: flex;
}

.right-section ul {
    display: flex;
    padding: 0;
    font-size: 20px;
}

.right-section li {
    text-transform: uppercase;
    margin-right: 78px;    
}

.bottom-header {
    display: flex;
    background-image: url(imgs/BG.png);
    height: 142px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin-bottom: 94px;
}

.bottom-header h1 {
    display: inline;
    color: #fff;
    font-size: 50px;
}

.city {
    color: #6AD3FF;
}

/* main  */

.card {
    width: 1304px;
    padding: 40px 48px;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 44px;
    font-size: 20px;
}

.card-flex {
    margin: 28px 0;    
    align-items: center;
    justify-content: space-between;
}

table {
    border-spacing: 0 12px;
    width: 100%;
}

.card td {
    background-color: #F2F4F8;
    color: #777777;
    padding: 16px;
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  text-align: right;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 16px 0;    
    background-color: #0297D4;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

.card-btn img {
    padding: 8px 12px 0 12px
}

.card-btn:first-child {
    margin-bottom: 12px;
}

.card .address {
    width: 296px;
    background-color: #FFF5CC;
    padding: 16px 20px;
    border-radius: 10px;
    margin: 21px 0;
}

.address p:first-child {
    display: flex;
    color: #777777;
    margin-bottom: 12px;
    align-items: center;
}

.address img {
    padding-right: 8px;
}

.card .id {
    width: 304px;
    border: solid 1px #0297D4;
    border-radius: 50px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0297D4;
    font-size: 16px;
}

.card .id span:first-child {
    font-size: 12px;
}

.card .id span:last-child {
    text-decoration: underline;
}

.pagination ul {
    display: flex;   
    align-items: center;
    justify-content: center; 
}

.pagination li {
    display: block;
    padding: 12px 19px;
    border: solid 1px #0297D4;
    color: #0297D4;
    border-radius: 6px;
    font-size: 26px;
    font-weight: bold;
    margin-right: 18px;
}

.pagination li:first-child {
    background-color: #0297D4;
    color: #fff;
}


/****************************************** Contacts end ******************************************/


@media (max-width: 1570px) {
    .slider {
        width: 1204px;
        position: relative;
        margin-top: 32px;
        margin: 32px auto;
    }
    footer img {
        margin-right: 30px;
    }
    footer li {
        margin-right: 20px;
    }
    .slider li img {
        padding: 20px 0;
        width: 504px;
    } 
    .section-privilege img {
        padding-left: 30px;
        width: 90%;
    }
}

@media (max-width: 1420px) {
    .container {
        width: 1300px;
    }
    .slider li img {
        padding: 20px 0;
        width: 458px;
    }
    .slider-list p {
        font-size: 18px;
    }
    .slider {
        width: 1104px;
    }
    .aspects {
        margin: 96px auto;
        justify-content: space-around;
        width: 900px;
    }
    .aspect:first-child {
        margin-bottom: 90px;
    }
    .list-container {
        width: 610px;
        padding: 40px 26px;
    }
    .section-questions .bg-img2 {
        background-position: right;
    }
    .section-privilege p {
        font-size: 22px;
    }
    .info-cards {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translate(-50%);
        flex-wrap: nowrap;
    }
    .info-card {
        padding: 28px;
        width: 488px;
    }
    h1, h2 {
        font-size: 32px;
    }
    p, li, b {
        font-size: 22px;
    }
}

@media (max-width: 1335px) {
    .container {
        width: 1000px;
    }
    .slider li img {
        width: 360px;
    }
    .slider {
        width: 910px;
    }
    .section-evacuators {
        margin-top: 200px;
    }
    .section-how-call p {
        width: 100%;
    }
    .slider-control .next-btn {
        right: -62px;
    }
    .slider-control .prev-btn {
        left: -62px;
    }
    .section-privilege p {
        font-size: 18px;
    }
    .info-card {
        padding: 28px;
        width: 410px;
    }
    .section-privilege {
        padding-bottom: 400px;
    }
    .list-done li {
        padding-left: 38px;
    }
    .list-container {
        width: 470px;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    h1, h2 {
        font-size: 28px;
    }
    p, li, b {
        font-size: 18px;
    }
    .container {
        width: 800px;
        margin: auto;
    }
    .header-btn {
        width: 240px;
        padding: 10px;
        margin-left: 20px;
        font-size: 18px;
    }
    .logo img {
        width: 160px;
    }   
    .header-flex h1 {
        font-size: 30px;
    }
    .section-how-call {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .section-aspects {
        margin-top: 40px;
    }
    .section-privilege {
        padding-top: 60px;
    }
    .section-evacuators {
        margin-top: 140px;
    }
    .section-tabs {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .slider li img {
        width: 284px;
    }
    .slider {
        width: 760px;
    }
    .list-container {
        width: 420px;
        padding: 20px;
    }
    .info-card {
        padding: 28px;
        width: 370px;
    }
    .aspects {
        width: 700px;
    }
}

@media (max-width: 914px) {
    .container {
        width: 700px;
    }
    .header-flex h1 {
        font-size: 26px;
    }
    .section-need-to-know img {
        width: 320px;
        height: 280px;
    }
    p, li, b {
        font-size: 16px;
    }
    h1, h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .info-card {
        padding: 20px;
        width: 300px;
    }
    .section-privilege p {
        font-size: 14px;
    }
    .section-privilege {
        padding-bottom: 340px;
    }
    .slider {
        width: 600px;
    }
    .slider li img {
        width: 500px;
    }
    .list-container {
        width: 380px;
        padding: 20px;
    }


}

@media (max-width: 768px) {
    .container {
        width: 600px;
        margin: auto;
    }
    p, li, b {
        font-size: 14px;
    }
    h1, h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .list-container {
        width: 340px;
        padding: 20px;
    }
    .section-need-to-know img {
        width: 180px;
        height: 160px;
    }
    .section-how-call {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .section-aspects {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 440px;
        margin: auto;
    }
    .row {
        flex-wrap: wrap;
    }
    .flex {
        flex-wrap: wrap;
    }
    .col-5 {
        width: 100%;
    }
    .header-flex {
        justify-content: unset;
    }
    .header-flex img {
        max-width: 120px;
    }
    .header-flex h1 {
        font-size: 20px;
        width: 180px;
    }
    .header-btn {
        width: 120px;
        border-radius: 20px;
        border: none;
        color: #fff;
        text-transform: none;
        padding: 0;
        margin-left: 8px;
        font-size: 16px;
    }
    .section-how-call {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .section-how-call img {
        position: relative;
        width: 420px;
        height: 400px;
    }
    .section-how-call .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .section-how-call p {
        width: 100%;
    }
    .section-need-to-know .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-privilege {
        padding-top: 40px;
        padding-bottom: 220px;
    }
    .section-privilege img {
        padding: 0;
        width: 360px;
    }
    .section-privilege .row {
        flex-direction: column-reverse;
    }
    .section-privilege .col-5:last-child {
        text-align: center;
    }
    .info-cards {
        position: relative;
    }
    .info-card {
        width: 100%;
        height: auto;
        padding: 28px;
    }
    .info-card:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .slider-list li {
        display: block;
        padding: 0 8px 2px;
        background-color: #fff;
        border-radius: 20px;
        min-width: 400px;
        height: auto;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    }
    .slider li img {
        width: 400px;
    }
    .slider {
        width: 440px;
    }
    .hidden-span {
        display: block;
    }
    .next-btn, .prev-btn {
        display: none;
    }
    .list-container {
        width: auto;
        padding: 20px 26px;
    }
    .tab-titles {
        margin-top: 40px;
    }
    .tab-content {
        padding: 20px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 28px;
        max-width: 440px;
        margin-bottom: 18px;
        margin-top: 18px;
    }
    p {
        font-size: 18px;
        max-width: 440px;
    }
    .aspects {
        width: 460px;
    }
    .aspect {
        margin-bottom: 80px;
    }
    footer {
        padding: 10px;
    }
    footer img {
        margin-right: 10px;
        width: 100px;
    }
    footer ul {
        display: flex;
        color: #FFF;
        text-transform: uppercase;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }
    footer li {
        font-size: 12px;
        margin-right: 20px;
    }
    footer .flex {
        justify-content: space-around;
    }
}
